.THIS #nav-tabContent {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.THIS .projectInfoTab {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.THIS .nav-item {
    border: none;
    text-align: left;
    align-self: center;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    background-color: rgba(155, 155, 155, 0.07);
}

.THIS .projectInfoTab .tab-content {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS .highlighter {
    width: 30%;
    position: relative;
    left: -10px;
    top: -15px;
    border-bottom: solid 3px #f5a623;
}

.THIS .info-title {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #4a4a4a;
}

.THIS .info-text {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    word-wrap: break-word;
    width: 80%;
    padding: 6px;
}
.THIS .project-member-list {
    max-height: 310px;
    overflow-y: auto;
}

.THIS .memberItem {
    border-radius: 4px;
    background-color: rgba(216, 216, 216, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.THIS .memberRole {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #555555;
}
.THIS .member-contactName{
    font-weight: normal;
    color: #333333;
}