.THIS.errorDiv {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 36px 0 65px 0;
    background-color: #f2dede;
	border-color: #f2dede;
	color: #a94442;
}