.THIS .errorDiv {    
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    font-family: Museo; 
    color:#000054;
    float:right;
    margin-top:15px;
} 
.THIS .resend-email{
    height:500px;
}
.THIS .center-div{  
    left: 0;
    right: 0;
    margin: 0 auto;    
    color: #000000;
    font-family: Museo;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 30px;
}
.THIS .btn-resend{
    font-family: Museo;
    height: 40px;
    border-radius: 100px;
    background-color: #000054;
    width: auto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
}
.THIS .center-div a,.THIS .center-div a:hover{
    color: #000053;
    text-decoration: none;
    
}
.THIS .btn-resend:hover{
    background-color: #d0021b;
}
 /*.THIS .resend-email>div {
        top: 25%;
    }*/
@media (max-width: 991px){
    .THIS .resend-email{
        height:650px;
    }
    .THIS .resend-email>div {
        top: 25%;
    }
    
}
@media (max-width: 767px){
    .THIS .resend-email{
        height:500px;
    }
    .THIS .resend-email>div {
        top: 25%;
    }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .THIS .resend-email{
        height:920px;
    }
    .THIS .resend-email>div {
        top: 25%;
    }
}