.THIS body {
    background-color: white;
}

.THIS.lhc-msg-all{
    height: 5rem;
}

.THIS button.sfdc_button {
    width: 20%;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 40%;
    color: #fff;
    background-color: #0070d2;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS button:hover {
    background-color: #3276b1;
    border-color: #285e8e;
    cursor: pointer;
}

.THIS button .label {
    color: #fff;
}

.THIS .lhc-title-all {
    font-family: Museo;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: center;
    color: #000053;
    position: relative;
    padding-top: 14px;
}

.THIS .lhc-title-msg {
    font-family: Museo;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: center;
    color: #000053;
    position: relative;
    padding-top: 14px;
}