.THIS ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.THIS ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.THIS #nav-tabContent {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS .memberRole {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #555555;
}

.THIS .deleteIcon {
    font-size: 20px;
    color: #4a90e2;
    cursor: pointer;
}

.THIS .edit-icon {
    padding-top: 20%;
    font-size: 20px;
    color: #4a90e2;
}

.THIS .projectInfoTab {
    /* margin-top: 10px; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS .nav-item {
    border: none;
    text-align: center;
    align-self: center;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.14; */
    letter-spacing: 0.5px;
    color: #4a4a4a;
    background-color: rgba(155, 155, 155, 0.07);
}

.THIS .projectInfoTab .tab-content {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS .highlighter {
    width: 50%;
    position: relative;
    left: -10px;
    top: -15px;
    border-bottom: solid 3px #f5a623;
}

.THIS .info-title {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #4a4a4a;
}

.THIS .info-text {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    word-wrap: break-word;
    width: 80%;
    padding: 6px;
}

.THIS .add-member-btn {
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    width: 105px;
    height: 32px;
    border-radius: 4px;
    background-color: #000054;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.THIS .modal-title-addmember {
    font-family: Museo;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS li .slds-listbox__item {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #000000;
}

.THIS .slds-listbox__item:nth-child(odd) {
    background-color: #ffffff;
    padding-left: 10px;
    height: 35px;
}

.THIS .slds-listbox__item:nth-child(even) {
    background-color: #eaeaea;
    padding-left: 10px;
    height: 35px;
}

.THIS .added-member {
    border-radius: 4px;
    background-color: #ececee;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #353c43;
}

.THIS .btn-add-member {
    width: 89px;
    height: 32px;
    border-radius: 4px;
    background-color: #000054;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
}

.THIS .btn-add-member:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.THIS .modal-content {
    width: 750px;
    height: auto;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}

.THIS .modal-footer {
    border: none;
}

.THIS div#addMember,
.THIS div#deleteMemberConfirmation {
    background: rgba(216, 216, 216, 0.4);
}

.THIS .btn-confirm {
    width: 89px;
    height: 28px;
    border-radius: 4px;
    background-color: #000054;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
}

.THIS .btn-cancel {
    width: 89px;
    height: 28px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #0e81fc;
}

.THIS .confirm-delete-text {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #000000;
}

.THIS .add-member-search {
    height: 140px;
    overflow: auto;
}

.THIS .project-member-list {
    max-height: 310px;
    overflow-y: auto;
}

.THIS #pjtmembersTable table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.THIS #pjtmembersTable td {
    padding: 10px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
}

.THIS #pjtmembersTable tr {
    border: 1px solid #cdcdcd;
}

.THIS #pjtmembersTable th {
    padding: 10px;
    text-align: left;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    color: var(--greyish-brown);
}

.THIS .removetxt {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a90e2;
    cursor: pointer;
}

.THIS .modal-dialog {
    max-width: 779px;
}

.THIS .search-icon {
    position: absolute;
    padding-top: 0px;
    right: 10px;
    font-size: 18px;
    color: #000000;
    right: 208px;
    top: 80px;
}

.THIS .searchResult {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.5px;
    color: #9b9b9b;
    color: var(--warm-grey);
}

.THIS .emailSchl {
    font-size: 12px;
    font-weight: normal;
    color: #9b9b9b;
}
.THIS .roledropdown{
     height: 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    background-color: #ffffff;
}
.THIS .pjtacceess:hover .pjtaccess_text , .THIS .pjtacceess a:focus + .pjtaccess_text{
    display: block;
}
.THIS .helpimg{
    color: #353c43;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
}
.THIS .pjtaccess_text::after {
    content: "";
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(220,220,220);
    top: -8px;
    left: 217px;
    z-index: 99;
    transform: rotate(360deg);
}

.THIS .dropdown-item, .THIS .uiInput--select .select:not([multiple]){
    white-space : normal;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.THIS .dropdown-menu{
    min-width: 20rem;
    max-width : 20px;
}

.THIS .pjtAccess_padding{
    padding-top: 10px;
}
.THIS .pjtaccess_text {
    display: none;
    border-radius: 20px;
    color: #ffffff;
    top: 25px;
    left: -240px;
}
.THIS .btn-cancel:focus, .THIS .btn-cancel:hover, .THIS .btn-confirm:hover, .THIS .btn-confirm:focus, 
.THIS .btn-add-member:not(:disabled):not(.disabled):hover, .THIS .btn-add-member:not(:disabled):not(.disabled):focus, .THIS .add-member-btn:focus, .THIS .add-member-btn:hover{
    background-color: #d0021b; 
    border : 1px solid #d0021b;                  
 }
.THIS .membersli{
    color:black;
    text-decoration : none;
}
.THIS #statusdropdown{
     width:96%; 
     height: 36px;
     border-radius: 4px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
     border: solid 1px #ccced0;
     background-color: #ffffff;
}
.THIS lightning-datepicker .slds-dropdown{
    position: fixed;
    z-index: 7002;
    left: 81px;
    top: 221px;                 
}
.THIS .slds-datepicker__filter{
    width: 290px;              
 }
@media only screen and (max-width: 1024px) {
    .THIS #nav-projectinfo-tab>span,
    .THIS #nav-note-tab>span {
        white-space: nowrap;
    }
}
.THIS .modalErrorBox{
    width:100%;
    padding: 10px 10px;
    border: 1px solid #ebeced;
    background: rgba(230,0,40,0.1);
    font-size: 14px;
    margin: 15px 0px;

}
.THIS .member-contactName{
    font-weight: normal;
    color: #333333;
}