.THIS {
    max-width: 1208px;
}

.THIS .pageTitle {
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e60028;
    position: relative;
    padding-top: 10px;
}

.THIS .pageTitle:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #d0021b;
}

.THIS .contentBox {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: .5em;
}

.THIS .heading {
    font: 500 20px Museo;
    color: #e60028;
}

.THIS .ocmsContentHeader_X {
    z-index: 200;
}

.THIS .recentContent .cResearcherPortalArticleTileGen {
    box-shadow: none;
    margin: 0 -.5em -.5em -.5em;
}

.THIS .article_list .cmsContentLoader {
    background-color: transparent;
}

.THIS .article_list .contentLoaderItems {
    margin: -12px;
}

.THIS .article_list .cmsContentLoader .ocmsContent_X {
    padding: 12px;
}