.THIS {
    position: relative;
    font: 16px Arial;
    padding: 16px;
    min-height: 275px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.THIS h1 {
    font: 800 22px Museo;
    min-height: 2.5em;
}

.THIS .article_content {
    position: relative;
    z-index: 100;
}

.THIS.RMIT-primary-red {
    background-color: #e60028;
    color: #fff;
}

.THIS.RMIT-primary-blue {
    background-color: #000054;
    color: #fff;
}

.THIS.RMIT-secondary-orange {
    background-color: #fc9147;
    color: #000;
}

.THIS.RMIT-secondary-yellow {
    background-color: #fac800;
    color: #000;
}

.THIS.RMIT-secondary-lemon {
    background-color: #eedc00;
    color: #000;
}

.THIS.RMIT-secondary-green {
    background-color: #aad75f;
    color: #000;
}

.THIS.RMIT-secondary-aqua {
    background-color: #00dcb4;
    color: #000;
}

.THIS.RMIT-secondary-teal {
    background-color: #7ae1aa;
    color: #000;
}

.THIS.RMIT-secondary-blue {
    background-color: #0078ff;
    color: #fff;
}

.THIS.RMIT-secondary-azure {
    background-color: #00aaff;
    color: #000;
}

.THIS.RMIT-secondary-arctic {
    background-color: #50d2ff;
    color: #000;
}

.THIS.RMIT-secondary-purple {
    background-color: #aa0082;
    color: #fff;
}

.THIS.RMIT-secondary-lavender {
    background-color: #c864c8;
    color: #000;
}

.THIS.RMIT-secondary-pink {
    background-color: #ff8199;
    color: #000;
}

.THIS .pixel {
    position: absolute;
    width: 75px;
    height: 75px;
}

.THIS .pixel .wide,
.THIS .pixel .medium,
.THIS .pixel .small {
    position: absolute;
    left: 0;
    height: 25px;
}

.THIS .pixel .wide {
    top: 0;
    width: 75px;
}

.THIS .pixel .medium {
    top: 25px;
    width: 50px;
}

.THIS .pixel .small {
    top: 50px;
    width: 25px;
}

.THIS.pixel_left .pixel {
    left: 0;
}

.THIS.pixel_top .pixel {
    top: 0;
}

.THIS.pixel_right .pixel {
    right: 0;
}

.THIS.pixel_bottom .pixel {
    bottom: 0;
}

.THIS.pixel_top.pixel_left .pixel {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.THIS.pixel_top.pixel_right .pixel {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.THIS.pixel_bottom.pixel_left .pixel {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.THIS.pixel_bottom.pixel_right .pixel {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.THIS .pixel.RMIT-primary-red > div {
    background-color: #e60028;
}

.THIS .pixel.RMIT-primary-blue > div {
    background-color: #000054;
}

.THIS .pixel.RMIT-secondary-orange > div {
    background-color: #fc9147;
}

.THIS .pixel.RMIT-secondary-yellow > div {
    background-color: #fac800;
}

.THIS .pixel.RMIT-secondary-lemon > div {
    background-color: #eedc00;
}

.THIS .pixel.RMIT-secondary-green > div {
    background-color: #aad75f;
}

.THIS .pixel.RMIT-secondary-aqua > div {
    background-color: #00dcb4;
}

.THIS .pixel.RMIT-secondary-teal > div {
    background-color: #7ae1aa;
}

.THIS .pixel.RMIT-secondary-blue > div {
    background-color: #0078ff;
}

.THIS .pixel.RMIT-secondary-azure > div {
    background-color: #00aaff;
}

.THIS .pixel.RMIT-secondary-arctic > div {
    background-color: #50d2ff;
}

.THIS .pixel.RMIT-secondary-purple > div {
    background-color: #aa0082;
}

.THIS .pixel.RMIT-secondary-lavender > div {
    background-color: #c864c8;
}

.THIS .pixel.RMIT-secondary-pink > div {
    background-color: #ff8199;
}