<apex:page standardController="Lead"  extensions="Form1_EnterLeadController" sidebar="false" showHeader="false" docType="html-5.0">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <apex:stylesheet value="{!URLFOR($Resource.bootstrap_3_3_5, '/bootstrap-3.3.5-dist/css/bootstrap.min.css')}"/>
      
      <apex:includeScript value="{!URLFOR($Resource.bootstrap_3_3_5, '/bootstrap-3.3.5-dist/js/jquery.min.js')}"/>
      <style>
          body{
            font-family: sans-serif;
          }
          
          .head{
              background-color: #DCDDD7;
          }
          .title{
              background-color: #242424;
              color: white;
              padding-top: 50px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
          }
          .wrapper{
            background-color: #DADADA;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
          }
          .content{
              background-color: #DADADA;
              padding-left: 50px;
              //padding-right: 10px;
          }
          .content a,.content a:hover{
            color: #cf120f;
          }
          h3{
              margin-bottom: 10px;
          }
          .rmit-stn{
            margin-top: 5px;
            margin-bottom: 5px;
            color: #fff;
            background: #d9534f;
            border-color: #d43f3a;
            display: inline-block;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
          }
          
          .helptext{
            //color: #eee;
             font-size: 11px;
          }
          
          .form-horizontal .control-label 
          {
                padding-top: 7px;
                margin-bottom: 0;
                margin-left: 100;
                text-align: left; 
          }
          
          .col-sm-4 
          {
               width: 35%;
          }
          
          .col-md-6 
          {
                width: 50%;
                margin-left: 15px;
                margin-right: -15px;
           }

          .col-md-10 
           {
                width: 100%;
           }
          
          body input.btn, body input.btnDisabled, body input.btnCancel 
          {
                padding: 7px 25px;
          }
          
      </style>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script type="text/javascript">
            $( window ).ready(function() {
                rmitTitleChange();
                partnerTitleChange();
            });
            function rmitTitleChange(){
                if($("[id$=RMIT_Staff_Title]").val() == 'Other'){
                    $("[id$=RMIT_inputTextBox]").show();
                }else{
                    $("[id$=RMIT_inputTextBox]").hide();
                }
            }
            function partnerTitleChange(){
                if($("[id$=Proposed_Partner_Title]").val() == 'Other'){
                    $("[id$=Partner_inputTextBox]").show();
                }else{
                    $("[id$=Partner_inputTextBox]").hide();
                }
            }
            function Submit() {
                  if($("[id$=Lastname]").val() == '')
                  {
                      
                    alert("Please enter value in Proposed Partner Contact Last Name.");
                    return false;           
                  }
                else if($("[id$=Proposed_Partner_Institution]").val() == '')
                  {
                      
                    alert("Please enter value in Proposed Partner Institution Name.");
                    return false;           
                  }
                else if($("[id$=Proposed_Partner_Title]").val() == '--None--')
                 {
                    alert("Please enter value in Proposed Partner Contact Title.");
                    return false; 
                 }
                
                else if($("[id$=Firstname]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Contact First Name.");
                    return false;           
                  }
                  else if($("[id$=Proposed_Partner_Contact_Position]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Contact Position.");
                    return false;           
                  }
                  else if($("[id$=inputEmail]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Contact Email.");
                    return false; 
                  }
                  else if($("[id$=Street]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Institution Address: Street Number and Name.");
                    return false; 
                  }
                  else if($("[id$=State]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Institution Address: State.");
                    return false; 
                  }
                  else if($("[id$=City]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Institution Address: City.");
                    return false; 
                  }
                  else if($("[id$=Country]").val() == '--None--')
                  {
                    alert("Please enter value in Proposed Partner Institution Address: Country.");
                    return false; 
                  }
                  else if($("[id$=Postal]").val() == '')
                  {
                    alert("Please enter value in Proposed Partner Institution Address: Zip/Post Code.");
                    return false; 
                  }
                
                  
                 else if($("[id$=RMIT_Staff_Title]").val() == '--None--')
                 {
                    alert("Please enter value in RMIT Staff Proposer Title.");
                    return false; 
                 }
                
                 else if($("[id$=RMIT_Staff_Name]").val() == '')
                 {
                    alert("Please enter value in RMIT Staff Proposer Name.");
                    return false; 
                 }
                 
                  else if($("[id$=RMIT_Staff_Position]").val() == '')
                 {
                    alert("Please enter value in RMIT Staff Proposer Position.");
                    return false; 
                 }
                  else if($("[id$=RMIT_Staff_Email]").val() == '')
                 {
                    alert("Please enter value in RMIT Staff Proposer Email.");
                    return false; 
                 }
                  else if($("[id$=RMIT_Staff_Phone]").val() == '')
                 {
                    alert("Please enter value in RMIT Staff Proposer Phone.");
                    return false; 
                 }
                 else if($("[id$=Current_Partner]").val() == '--None--')
                 {
                    alert("Please enter value in Current Partner.");
                    return false; 
                 }
                else if($("[id$=Type_of_Planned_Activity]").val() == '--None--')
                 {
                    alert("Please enter value in Type of Planned Activity.");
                    return false; 
                 }
                
                 else if($("[id$=Level_of_Urgency]").val() == '')
                 {
                    alert("Please enter value in Level of Urgency, comments.");
                    return false; 
                 }
                 else if($("[id$=Rationale]").val() == '')
                 {
                    alert("Please enter value in Rationale.");
                    return false; 
                 }
                  else if($("[id$=College]").val() == '')
                 {
                    alert("Please enter value in College.");
                    return false; 
                 }
                   else if($("[id$=Subject_Expert_SE_Consulted]").val() == '--None--')
                 {
                    alert("Please enter value in Subject Expert (SE) Consulted.");
                    return false; 
                 }
                 else if($("[id$=School]").val() == '')
                 {
                    alert("Please enter value in School.");
                    return false; 
                 }
                  else if($("[id$=Subject_Expert_Name]").val() == '--None--')
                 {
                    alert("Please enter value in Subject Expert Name.");
                    return false; 
                 }
                  else if($("[id$=SE_Supports_proposal]").val() == '--None--')
                 {
                    alert("Please enter value in Subject Expert Supports Proposal.");
                    return false; 
                 }
                  else if($("[id$=HoS_Contacted]").val() == '--None--')
                 {
                    alert("Please enter value in Head of School Contacted.");
                    return false; 
                 }
                  else if($("[id$=If_yes_please_provide_a_short_overview]").val() == '')
                 {
                    alert("Please enter value in Feedback.");
                    return false; 
                 }
                else if($("[id$=Proposed_Partner_Title]").val() == 'Other' && $("[id$=Partner_inputTextBox]").val() == '')
                 {
                     alert("Please enter value in Proposed Partner Contact Title - Other.");
                     return false; 
                 }
                else if($("[id$=RMIT_Staff_Title]").val() == 'Other' && $("[id$=RMIT_inputTextBox]").val() == '')
                 {
                        alert("Please enter value in RMIT Staff Proposer Title - Other.");
                        return false; 
                 }
                  else if($("[id$=inputEmail]").val() != '' && !isValidEmailAddress( $("[id$=inputEmail]").val() ))
                 {
                         alert('Please enter a valid Proposed Partner Contact Email address.'); 
                        return false;
                 }
                  else if($("[id$=RMIT_Staff_Email]").val() != '' && !isValidEmailAddress( $("[id$=RMIT_Staff_Email]").val() ))
                 {
                         alert('Please enter a valid RMIT Staff Email address.'); 
                        return false;
                 }
                
                //alert('Before Submit');
                create();
                //window.location.href = "{!$Page.GPLRThankPage}";
            }
      /*var j$ = jQuery.noConflict();
      j$(document).ready(function(){
          j$("[id*=RMIT_inputTextBox]").hide();
          j$("[id*=Partner_inputTextBox]").hide();
        });
        */

      
      function isValidEmailAddress(emailAddress) 
      {
          var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
          return pattern.test(emailAddress);
      };

      </script>
      
  </head>
  <body>
    <div class="container-fluid">
        <apex:pageMessages escape="false"></apex:pageMessages>
        <apex:form styleClass="form-horizontal">
            <div class="row head">
              <div class="col-md-2">
                  <apex:image id="theImage" value="{!$Resource.RMIT_Logo}" width="250"/>
              </div>
              <div class="col-md-10"></div>
            </div>
            
            <div class="row title">
                <H1>Global Partner Lifecycle Register (GPLR)</H1>
            </div>
            
            <div class="row wrapper">
                <div class="col-md-6">
                    <H3></H3>
                </div>  
            </div>
            
            <div class="row content" style="padding-top: 20px;">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <p>
                    The GPLR is the first step in RMIT’s <a href="https://www.rmit.edu.au/staff/our-structure/global-development/global-development-and-performance/global-partner-approval-process" target="_blank">Global Partner Approval Process</a>.
                </p>
                <p>
                    This form should only be completed by RMIT University staff. Please do not distribute externally. If all required information is received at submission time, the standard turnaround time is four weeks.
                </p>
                <p>
                    Upon submission of this form, your request will be logged in the GPLR. A member of the Global Relations Office will contact you within five working days of your request.
                </p>
                <p>
                If you have any questions about this form please contact the Global Relations Office
                    (<a href="mailto:global.partners@rmit.edu.au">global.partners@rmit.edu.au</a>)
                </p>
                
                <br/>
                </div>
        </div>

            <div class="row content">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="RMIT_Staff_Title" class="col-sm-4 control-label">RMIT Staff Proposer Title: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="RMIT_Staff_Title" onchange="rmitTitleChange()" styleClass="form-control" style="margin-top: 7px;" value="{!RMIT_Title}" size="1">
                                <apex:selectOptions value="{!RMIT_Staff_Title}" />
                            </apex:selectList>
                        </div>
                        
                    </div> 
                    <div class="form-group">
                        <label for="RMIT_inputTextBox" class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <apex:inputText id="RMIT_inputTextBox"  html-placeholder="Specity If Others" styleClass="form-control" style="margin-top: 7px;" value="{!RMIT_Title_Other}"/>

                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        
                        <label for="RMIT_Staff_Name" class="col-sm-4 control-label">RMIT Staff Proposer Name: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="RMIT_Staff_Name" value="{!RMIT_Staff_Name}"/>
                        </div>
                            
                    </div>
                    <div class="form-group">
                        <label for="RMIT_Staff_Position" class="col-sm-4 control-label">RMIT Staff Proposer Position: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="RMIT_Staff_Position" value="{!RMIT_Staff_Position}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RMIT_Staff_Email" class="col-sm-4 control-label">RMIT Staff Proposer Email: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="RMIT_Staff_Email" value="{!RMIT_Staff_Email}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RMIT_Staff_Phone" class="col-sm-4 control-label">RMIT Staff Proposer Phone: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="RMIT_Staff_Phone" value="{!RMIT_Staff_Phone}"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="College" class="col-sm-4 control-label">College: *</label>
                        <div class="col-sm-6">
                            <!--<apex:selectList id="college" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.College2__c}" size="1">
                                <apex:selectOptions value="{!College}"/>
                            </apex:selectList>--->
                            <apex:inputField id="College" value="{!Lead.College2__c}" styleClass="form-control"/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="School" class="col-sm-4 control-label">School: *</label>
                        <div class="col-sm-6">
                            <apex:inputField id="School" value="{!Lead.School__c}" styleClass="form-control"/>  
                            <!--<apex:selectList id="school" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.School__c}" size="1">
                                <apex:selectOptions value="{!School}"/>
                            </apex:selectList> -->
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Subject_Expert_SE_Consulted" class="col-sm-4 control-label">Agreement Expert Consulted?: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="Subject_Expert_SE_Consulted" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.Subject_Expert_SE_Consulted__c}" size="1">
                                <apex:selectOptions value="{!Subject_Expert_SE_Consulted}"/>
                            </apex:selectList>  
                            <span class="helptext">Agreement Expert must be consulted prior to submitting this form. For a list of Agreement Experts, please refer to the dropdown list under Agreement Expert Name (below).</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Subject_Expert_Name" class="col-sm-4 control-label">Agreement Expert Name: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="Subject_Expert_Name" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.Subject_Expert_Name__c}" size="1">
                                <apex:selectOptions value="{!Subject_Expert_Name}"/>
                            </apex:selectList>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SE_Supports_proposal" class="col-sm-4 control-label">Agreement Expert Supports Proposal: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="SE_Supports_proposal" value="{!Lead.SE_Supports_proposal__c}" styleClass="form-control" style="margin-top: 7px;" size="1">
                                <apex:selectOptions value="{!SE_Supports_proposal}"/>
                            </apex:selectList>  
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Reason_for_not_Consulting_SE" class="col-sm-4 control-label">Reason for not consulting Agreement Expert: </label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputTextarea styleClass="form-control" id="Reason_for_not_Consulting_SE" value="{!Reason_for_not_Consulting_SE}" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="If_yes_please_provide_their_name_and_ti" class="col-sm-4 control-label">Head of School Name and Title: </label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputTextarea styleClass="form-control" id="If_yes_please_provide_their_name_and_ti" value="{!If_yes_please_provide_their_name_and_ti}" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="HoS_Contacted" class="col-sm-4 control-label">Head of School consulted: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="HoS_Contacted" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.HoS_Contacted__c}" size="1" >
                                <apex:selectOptions value="{!HoS_Contacted}"/>
                            </apex:selectList>  
                            <span class="helptext">Head of School must be consulted before submitting this form.</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="If_yes_please_provide_a_short_overview" class="col-sm-4 control-label">Please provide a short overview: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputTextarea styleClass="form-control" id="If_yes_please_provide_a_short_overview" value="{!If_yes_please_provide_a_short_overview}" />
                          <span class="helptext">Provide feedback or reason for not consulting Head of School.</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <!--<div class="form-group">
                        
                        <label for="" class="col-sm-4 control-label">Select an area you are interested in: </label>
                        <div class="col-sm-5">
                             <!--<apex:selectList id="Picklist_Select_Area_Interested" styleClass="form-control" style="margin-top: 10px;" value="{!Interest_Area}" size="1">
                              <apex:selectOptions value="{!SelectAreaInterested}"/>
                            </apex:selectList> 
                        </div>
                    </div>-->
                    
                    <div class="form-group">
                        <label for="Proposed_Partner_Institution" class="col-sm-4 control-label">Proposed Partner Institution Name: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="Proposed_Partner_Institution" value="{!Proposed_Partner_Institution}" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Proposed_Partner_Title" class="col-sm-4 control-label">Proposed Partner Contact Title: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="Proposed_Partner_Title" onchange="partnerTitleChange()"  styleClass="form-control" style="margin-top: 7px;" value="{!Proposed_Title}" size="1">
                                <apex:selectOptions value="{!Proposed_Partner_Title}"/>
                            </apex:selectList>  
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="Partner_inputTextBox" class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <apex:inputText id="Partner_inputTextBox" html-placeholder="Specity If Others" styleClass="form-control" style="margin-top: 7px;" value="{!Proposed_Title_Other}"/>

                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="Firstname" class="col-sm-4 control-label">Proposed Partner Contact First Name: *</label>
                        <div class="col-sm-6">
                            <!--<input type="text" class="form-control" id="Firstname" value="{!FirstName}"/>-->
                            <apex:inputText styleClass="form-control" id="Firstname" value="{!FirstName}" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Lastname" class="col-sm-4 control-label">Proposed Partner Contact Last Name: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="Lastname" value="{!LastName}"/>-->
                          <apex:inputText styleClass="form-control" id="Lastname" value="{!LastName}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Proposed_Partner_Contact_Position" class="col-sm-4 control-label">Proposed Partner Contact Position: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="Company" value="{!Company}"/>-->
                          <apex:inputText styleClass="form-control" id="Proposed_Partner_Contact_Position" value="{!Proposed_Partner_Contact_Position}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-4 control-label">Proposed Partner Contact Email: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="inputEmail" value="{!Email}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPhone" class="col-sm-4 control-label">Proposed Partner Contact Phone: </label>
                        <div class="col-sm-6">
                          <apex:inputText styleClass="form-control" id="inputPhone" value="{!phone}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-4 control-label">Proposed Partner Contact Mobile: </label>
                        <div class="col-sm-6">
                          <apex:inputText styleClass="form-control" id="inputMobile"  value="{!MobilePhone}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Street" class="col-sm-4 control-label">Proposed Partner Institution Address: Street Number and Name: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="Street" value="{!Street}"/>-->
                          <apex:inputText styleClass="form-control" id="Street" value="{!Street}" />
                        </div>
                    </div>
                                        <div class="form-group">
                        <label for="City" class="col-sm-4 control-label">Proposed Partner Institution Address: City: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="City" value="{!City}"/>-->
                          <apex:inputText styleClass="form-control" id="City" value="{!City}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-sm-4 control-label">Proposed Partner Institution Address: State: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="State" value="{!State}"/>-->
                          <apex:inputText styleClass="form-control" id="State" value="{!State}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Country" class="col-sm-4 control-label">Proposed Partner Institution Address: Country: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="Country" value="{!Country}"/>-->
                          <!--<apex:inputText styleClass="form-control" id="Country" value="{!Country}" title="Please include the details of the proposed partner contact who can be contacted for issues relating to this agreement"/> -->
                          <apex:selectList id="Country" styleClass="form-control" style="margin-top: 7px;" value="{!Country}" size="1">
                                <apex:selectOptions value="{!countryOption}"/>
                          </apex:selectList>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Postal" class="col-sm-4 control-label">Proposed Partner Institution Address: Zip/Post Code: *</label>
                        <div class="col-sm-6">
                          <!--<input type="text" class="form-control" id="Postal" value="{!Postal}"/>-->
                          <apex:inputText styleClass="form-control" id="Postal" value="{!Postal}" />
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="Current_Partner" class="col-sm-4 control-label">Current Partner?: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="Current_Partner" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.Current_Partner__c}" size="1" >
                                <apex:selectOptions value="{!Current_Partner}"/>
                            </apex:selectList>  
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="If_Yes_briefly_describe_relationship" class="col-sm-4 control-label">If yes, briefly describe relationship: </label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="If_Yes_briefly_describe_relationship" value="{!If_Yes_briefly_describe_relationship}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Type_of_Planned_Activity" class="col-sm-4 control-label">Type of Planned Activity/Agreement: *</label>
                        <div class="col-sm-6">
                            <apex:selectList id="Type_of_Planned_Activity" styleClass="form-control" style="margin-top: 7px;" value="{!Lead.Type_of_Planned_Activity__c}" size="1" >
                                <apex:selectOptions value="{!Type_of_Planned_Activity}"/>
                            </apex:selectList>  
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label for="Proposed_Activity_Agreement_Start_Date" class="col-sm-4 control-label">Proposed Activity/Agreement Start Date: 
                            
                        </label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputField styleClass="form-control" id="Proposed_Activity_Agreement_Start_Date" value="{!Lead.Proposed_Activity_Agreement_Start_Date__c}" />
                            <br />
                            <span class="helptext">Please indicate when you would like to start activity and therefore when you believe the agreement, if approved, needs to be signed by.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Level_of_Urgency" class="col-sm-4 control-label">Level of Urgency, comments *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputText styleClass="form-control" id="Level_of_Urgency" value="{!Level_of_Urgency}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Rationale" class="col-sm-4 control-label">Rationale: *</label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputTextarea styleClass="form-control" id="Rationale" value="{!Rationale}" />
                          <span class="helptext">Why should this partnership be approved and what are the benefits to RMIT?</span>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Expected_Deliverables" class="col-sm-4 control-label">Expected Deliverables: </label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputTextarea styleClass="form-control" id="Expected_Deliverables" value="{!Expected_Deliverables}" />
                          <span class="helptext">Expected deliverables may be used to draft the agreement. For example: Staff Mobility, Student Exchange, Research Collaboration.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Attachment" class="col-sm-4 control-label">Attachment: </label>
                        <div class="col-sm-6">
                          <!--<input type="email" class="form-control" id="inputEmail" value="{!Email}"/>-->
                          <apex:inputFile id="Attachment" value="{!AttachedFileBody}" fileName="{!AttachedFileName}" ></apex:inputFile> 
                          <span class="helptext"> Please note: maximum of one attachment. </span>   
                        </div> 
                    </div>
                </div>
            </div>

        <!--<div class="row content">
          <div class="col-md-6">
            <div class="col-md-4"></div>
            <div class="checkbox col-sm-8">
                <label>
                    <apex:inputCheckbox id="CHB_Subscript" value="{!isSubscript}"/>
                    Check this box if you do not want to be kept informed of future RMIT events and activities relevant to your enquiry
                </label>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>-->
        
        <div class="row content" style="padding-top: 20px;">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <p>
                    RMIT University values privacy and is committed to handling personal, sensitive and health information in accordance with the
                    <a href="https://www.rmit.edu.au/about/governance-and-management/policies/privacy-information-management-policy" target="_blank">RMIT University Privacy and Data Protection Policy</a> and the privacy principles contained in the Privacy and Data Protection Act 2014 (Vic) and the Health Records Act 2001 (Vic).
                </p>
                <p>
                    The information you provide in this form will be kept securely and accessed only by staff for the purpose of University functions. <br/>
                    De-identified information may be used for improvement processes.
                </p>
                <p>
                    <a href="https://www.rmit.edu.au/about/governance-and-management/policies/privacy-information-management-policy" target="_blank"><b>Privacy Policy</b></a> 
                </p>
                </div>
        </div>
        
        <div class="row content">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="submit" class="btn btn-danger" style="background: #d9534f; color: #fff; border-color: #d43f3a;"  value="Submit" onclick="Submit(); return false;"/>
                <apex:actionFunction action="{!createNewStudent}" name="create"/>
                <!--<apex:commandButton id="btn_summit"
                style="margin-top: 5px;
                            margin-bottom: 5px;
                            color: #fff;
                            background: #d9534f;
                            border-color: #d43f3a;
                            display: inline-block;
                            padding: 6px 12px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.42857143;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;"
                action="{!createNewStudent}" value="Submit"/>-->
            </div>
        </div>
        
        <div class="row wrapper">
        </div>
        </apex:form>
    </div>
      
  </body>
</apex:page>