<apex:page sidebar="false" showHeader="false" docType="html-5.0">
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <apex:stylesheet value="{!URLFOR($Resource.bootstrap_3_3_5, '/bootstrap-3.3.5-dist/css/bootstrap.min.css')}"/>
            <apex:includeScript value="{!URLFOR($Resource.bootstrap_3_3_5, '/bootstrap-3.3.5-dist/js/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.bootstrap_3_3_5, '/bootstrap-3.3.5-dist/js/jquery.min.js')}"/>
            <style>
                body{
                font-family: sans-serif;
                }
                
                .head{
                background-color: #DCDDD7;
                }
                .title{
                background-color: #242424;
                color: white;
                padding-top: 50px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
                }
                .wrapper{
                background-color: #DADADA;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 20px;
                padding-bottom: 20px;
                }
                .content{
                background-color: #DADADA;
                padding-left: 10px;
                padding-right: 10px;
                }
                .content a,.content a:hover{
                color: #cf120f;
                }
                h3{
                margin-bottom: 10px;
                }
                .rmit-stn{
                margin-top: 5px;
                margin-bottom: 5px;
                color: #fff;
                background: #d9534f;
                border-color: #d43f3a;
                display: inline-block;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                }
            </style>
        </head>
  		<body>
            <div class="container-fluid">
                <apex:pageMessages escape="false"></apex:pageMessages>
                <apex:form styleClass="form-horizontal">
                    <div class="row head">
                        <div class="col-md-12">
                            <apex:image id="theImage" value="{!$Resource.RMIT_Logo}" width="250"/>
                        </div>
                    </div>
                    
                    <div class="row title">
                        <div class="col-md-12">
                            <H1>Global Partner Lifecycle Register (GPLR)</H1>
                        </div>
                    </div>
                    
                    <div class="row" style="margin: 80px auto; width: 100%;">
                        <div>
                            <div>
                                <p class="text-center" style="margin: 0; font-size: 1.5em">Thank you. Your GPLR form has been submitted.
                                    <span id="count" style="display:none"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </apex:form>
            </div>
            <script>
            	var counter = 5;
                setInterval(function() {
                    counter--;
                    if (counter >= 0) {
                        span = document.getElementById("count");
                        span.innerHTML = counter;
                    }
                    if (counter === 0) {
                        window.location.href = "{!$Page.GPLR}";
                        clearInterval(counter);
                    }
                    
                }, 500);
            </script>
        </body>
    </html>
</apex:page>