<apex:page >
    <apex:form >
    <apex:commandLink action="https://rmit.service-now.com/serviceandsupport/reportissue.do" type="image/png">
    <apex:image value="{!$Resource.Service_Now_Logo}" style="max-height:60px;"/>   
    <apex:image value="{!$Resource.Report_An_Issue_Text}" style="max-height:29px;max-width:auto;position:relative;left:20px;"/>
</apex:commandlink> 
</apex:form>
</apex:page>