.THIS .researcher-portal-notification-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

@media(min-width:1025px) {
    .THIS .researcher-portal-notification-container {
        top: 72px;
    }
}

.THIS .researcher-portal-notification-container .cmsContentLoader .contentLoaderItems {
    margin: 0;
}
.THIS .researcher-portal-notification-container .cmsContentLoader .contentLoaderItems .ocmsContent_X {
    padding: 0;
}

.THIS .researcher-portal-notification-container .cmsContentLoader .uiMessage.info,
.THIS .researcher-portal-notification-container .cmsContentLoader.loading-true {
    display: none;
}

.THIS .researcher-portal-footer{
    min-height: 50px;
    background-color: #00004b;
    bottom: 0;
    width: 100%;
}

.THIS .footer-text {
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: normal;
    color: #ffffff;
}

.THIS .footer-copyright {
    margin-left: 10%;
    width: 18%
}

.THIS .footer-abn {
    width: 15%
}

.THIS .footer-cricos {
    width: 40%
}

.THIS .researcher-portal-footer-container .cmsContentLoader .contentLoaderItems {
    margin: 0;
}
.THIS .researcher-portal-footer-container .cmsContent .ocmsContent_X,
.THIS .researcher-portal-footer-container .cmsContentLoader .contentLoaderItems .ocmsContent_X {
    padding: 0;
}

.THIS .researcher-portal-footer-container .cmsContent.loading-true,
.THIS .researcher-portal-footer-container .cmsContent .uiMessage.info,
.THIS .researcher-portal-footer-container .cmsContentLoader.loading-true,
.THIS .researcher-portal-footer-container .cmsContentLoader .uiMessage.info {
    display: none;
}