.THIS .chatter-box-label{
    width: 149px;
    height: 22px;
    font-family: Museo;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    margin-top: 21px;
    margin-bottom: 10px;
}
.THIS .chatter-box-textarea{
    margin-bottom:10px;
}
.THIS .cancel-btn{
    height: 16px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #0078ff;
    cursor: pointer;
    display: inline-block;
    padding-left: 15px;
}
.THIS .btn-add-comment{
    background-color:#000054;
    border : 1px solid #000054; 
    color:#ffffff;
    cursor:pointer;
}
.THIS .btn-add-comment:not(:disabled):not(.disabled):focus, .THIS .btn-add-comment:not(:disabled):not(.disabled):hover, .THIS .btn-add-comment:focus, .THIS .btn-add-comment:hover{
    background-color: #d0021b; 
    border : 1px solid #d0021b;
 }
.THIS .btn-add-comment[disabled], .THIS .btn-add-comment:disabled{
    color: rgb(255, 255, 255);
    background: rgb(201, 199, 197);
    border-color: rgb(201, 199, 197);
    cursor:default;
}
.THIS .customUserImg{
    border-radius: 50%;
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
}
.THIS .commentedUsername{
    width: 85px;
  height: 23px;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #333333;
}
.THIS .dot{
    display: inline-block;
    margin: 0px 5px;
    width: 4px;
    height: 4px;
    background-color: #000054;
    border-radius: 50%;
}
.THIS .commentedUserEmailId, .THIS .commentedUserRole{
  width: 129px;
  height: 24px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #333333;
}
.THIS .dateAndTime{
  height: 20px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #888888;
}
.THIS .userComment{
  min-height: 28px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #333333;
}
.THIS .reply-btn{
  height: 24px;
  width: 40px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #0078ff;
  cursor: pointer;
}
.THIS .commentReplyTextBox{
  border-top: 2px solid white;
}
.THIS .ptrb-1{
    padding:1rem 0 1rem 0rem;
}
.THIS .comment-len{
    width: 200px;
    height: 19px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}
.THIS .hide{
    display:none;
}
.THIS .show{
    display:block;
}
.THIS .Standard-Btn{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    line-height: 1.875rem;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0.25rem;
    text-decoration: none;
}
.THIS .reply-delete{
    font-family: Arial;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #0078ff;
    cursor: pointer;
    float: right;
    margin-top: 8px;
}
.THIS .commentReply{
    min-height: 90px;
    border-radius: 4px;
    background-color: #f9f9f9;
    padding: 10px 16px;
}
.THIS .padding-right-zero{
    padding-right:0;
}
.THIS .custom-popover{
    position: absolute;
    right: -93px;
    top: 53px;
}
.THIS .custom-popoverReply{
     position: absolute;
     right: -103px;
     top: 53px;
}
.THIS .popover-cancelBtn{
    color: #0078ff;
    cursor: pointer;
}
.THIS .popover-YesBtn{
     float: right;
    color: #e60028;
    cursor: pointer;
}
.THIS .load-more-container{
    text-align:center;
    padding: 20px 20px 30px 20px;
}
.THIS #load-more-chatter{
    width: 203px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 1px 2px 6px 0 rgba(196, 196, 196, 0.5);
    background-color: #ffffff;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00004b;
}

.THIS #load-more-chatter:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}