@font-face {
	font-family: 'Museo';
	src: url(../resource/museo);
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

@font-face {
	font-family: 'Arial';
	src: url(../resource/arial);
}

@import url('https://fonts.googleapis.com/css?family=Lato');

.THIS ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.THIS ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.THIS .page-header {
	padding: 20px 5px 0px 0px;
}

.THIS .pipe{
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;	
}

.THIS .title-lable {
	font-size: 16px;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
  	word-wrap: break-word;
}

.THIS .label-text {
	font-family: Museo;
  	font-style: normal;
  	font-stretch: normal;
}

.THIS .title-text {
	font-family: HelveticaNeue;
  	font-style: normal;
  	font-stretch: normal;
}

.THIS .content-label {
	font-size: 14px;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #000000;
  	word-wrap: break-word;
    cursor: default;
    text-decoration: none;
}

.THIS .content-label-normal {
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.4px;
	color: #4a4a4a;
	word-wrap: break-word;
}

.THIS .content-text {
	font-size: 14px;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #000000;
  	word-wrap: break-word;
}

.THIS .page-title {
	font-size: 21px;
  	font-weight: 500;
  	color: #000054;
}

.THIS .font-normal {
	font-weight: normal;
}

.THIS .font-bold {
	font-weight: bold;
}

.THIS .funding-detail-main {
	width: 98%;
}

.THIS .project-detail-legend {
	background-color: rgba(255,255,255,0.54);
	height: 65px;
	margin: 0;
}

.THIS .project-detail-main {
	background-color: #ffffff;
 	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
 	margin: 0;
}

.THIS .btn-back-container {
	text-align:center;
}

.THIS #btn-go-back {
	width: 89px;
  	height: 32px;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	font-size: 12px;
  	font-weight: 300;
	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .project-list-filter {
	height: 65px;
}

.THIS .expense-list-filter {
	line-height: 35px;
}


.THIS .clicked:after {
	content: '\f077' !important;
}

.THIS #filterSelectDiv select {
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
}

.THIS .project-select {
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    background-color: #ffffff;
    border: solid 1px #ccced0;
    width: 78%;
    height: 50%;
    position: absolute;
    right: 0;
    top: 15px;
    padding-left: 10px;
    text-overflow:ellipsis
}

.THIS #pjtDropdown{
    position: absolute;
    top: 50px;
    right: 0;
    max-height: 350px;
    width: 78%;
    overflow : auto;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
}

.THIS .select-project-item {
	min-height: 35px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 35px;
  	letter-spacing: 0.5px;
  	color: #000000;
  	padding-left: 10px;
  	word-wrap: break-word;
  	cursor: pointer;
}

.THIS .select-project-item:nth-child(odd) {  
    background-color: #ffffff;    
}
.THIS .select-project-item:nth-child(even) {  
    background-color: #eaeaea;   
}

.THIS .input-group-btn {
	position: absolute;
	right: 5px;
	top: 18px;
	font-size: 18px;
	z-index: 10;
}
.THIS .filterarrow{
 	top: 14px;
    right: 67px;
}

.THIS .table-funding-scheme {
	border: solid 2px rgba(216, 216, 216, 0.35);
}

.THIS .funding-scheme-title {
	line-height: 46px;
	padding-left: 15px;
	background-color: rgba(216, 216, 216, 0.35);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.THIS .pjtTitleColor {
	color: #000000;
	text-decoration: none;
}

.THIS .header-column {
	width: 150px;
}

.THIS .data-column {
	width: 12%;
}

.THIS #expenseDetailList {
	border-bottom: solid 1px rgba(203, 203, 203, 0.43);
}

.THIS .first-column-border {
	border-right: solid 1px rgba(216, 216, 216, 0.35);
}

.THIS .last-column-border {
	border-left: solid 1px rgba(216, 216, 216, 0.35);
}

.THIS .column-highlighted {
	background-color: rgba(216, 216, 216, 0.23);
}

.THIS table.dataTable thead th {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
  	background-color: #f2f2f2;
  	height: 25px;
  	border-bottom: none;
  	text-align: right;
}

.THIS table.dataTable tbody td {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
  	padding: 10px 18px;
  	vertical-align: middle;
  	word-wrap: break-word;
  	text-align: right;
}

.THIS table.dataTable tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.THIS table.dataTable tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.THIS table.dataTable tbody tr:nth-child(1)>td:nth-child(6), .THIS table.dataTable tbody tr:nth-child(1)>td:nth-child(7)  {
	background-color: #f2f2f2;
}
.THIS .totalawarded{
   padding-left: 79%;
}
.THIS .page-title{
    font-weight: bold;
}
.THIS .dropdown-content {
	/* position: relative;
	top: -23px; */
	width: 50%;
	max-height: 150px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
    margin-left: 108px;
    position: relative;
}
.THIS .select-topic-item {
	min-height: 35px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 35px;
  	letter-spacing: 0.5px;
  	color: #000000;
  	padding-left: 10px;
  	word-wrap: break-word;
  	cursor: pointer;
}
.THIS .membersli{
    color:black;
    text-decoration : none;
}
.THIS .topic-select {
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis;
    margin-top:10px;
    padding-left: 6px;
    margin-left: 10px;
}
.THIS .type{
   font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #000000;
  margin:5px;
  padding-top: 16px;
}