@font-face {
	font-family: 'HelveticaNeue';
	src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

.THIS .inprogressPjtContainer{
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    position:relative;
}
 
.THIS .inprogresspjt_title{
    font-family: Museo;
    font-size: 16px;
  	font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    padding: 25px 0 0 11.5px;
}

.THIS .have_newIdea{    
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  padding: 12.5px 0 0 11.5px;
}

.THIS .footer-content {
    position: absolute;
	bottom: 0;
	width: 100%;
    padding: 15px 30px 20px 30px;
}
.THIS .createPjtContainer{
    height: 150px;
}

.THIS .img-help{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;  
}

.THIS .help{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;  
    padding-left: 5px;
}
.THIS .width100{
    width:100%;
}

@media only screen and (max-width: 1024px) {
	.THIS .leftNavBar {
		display: none;
		height: 0;
	}
}


.THIS .numOfProjects {
	padding-top: 2px;
}

@media only screen and (max-width: 320px) {
	.THIS .btn-viewall {
		padding: 8px 0 8px 15px;
	}
	.THIS .footer-content {
		padding: 15px 20px 20px 20px;
	}
}