.THIS .howToContainer{
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    position : relative;
}

.THIS .howto_title{
    font-family: Museo;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    padding: 25px 0 0 11.5px;
}
/* .THIS .howto_title:before{
    content: '';
    position: absolute;
    top: 15px;
    width: 35px;
  	height: 5px;
  	background-color: #00dcb4;
} */

.THIS .howto_faq{  
    border-radius: 4px;
    border: solid 0.5px rgba(151, 151, 151, 0.21);
    margin: 20px 60px 10px 25px;
}
.THIS .faq_questiontitle{
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666; 
    padding-top : 10px;    
}

.THIS .faq_description{  
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    padding: 10px 0
}

.THIS .btn-moreinfo{
    border-radius: 100px;
    background-color: #4a90e2;
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    padding: 7px 20px 5px 20px;
    margin: 12.5px 0px;    
}

.THIS .viewall {
	height: 60px;
}

.THIS .btn-viewall{
    /* border-radius: 6px;
    background-color: #000054;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0), 0 0.5px 2px 0 rgba(0, 0, 0, 0.2); */
    display: inline-block;
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: .2px;
    text-align: center;
    color: #000054;
    padding: 8px 20px;
    margin: 12.5px;
    text-decoration: underline;
}