.THIS .page-header {
	padding: 20px 5px 0px 0px;
    position:relative;
}

.THIS .label-text {
    padding-right: 0;
	font-family: Museo;
  	font-size: 21px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
}
.THIS .page-header:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623; 
}

.THIS .ProjectDetailDisplay {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	max-width: none;
}

.THIS .card-header {
	background-color: #ffffff;
	border-bottom: none;
}

.THIS .project-title {
	font-size: 16px;
  	font-weight: bold;
  	overflow-wrap: break-word;
  	padding: 20px 0px 10px 0px;
  	text-align: justify;
}
.THIS .summary-content {
	overflow-wrap: break-word;  	 
    font-family: Arial;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4a4a4a;
  	text-align: justify;
    border:none;
}
.THIS .pjtsummarypara{
    border: none;  
    height: 200px;    
    background: white;  
    cursor: default;
}
.THIS .fontbold {
	font-weight: bold !important;
}

.THIS .secondary-title {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #000000;
    padding-top: 20px;
}
.THIS .contractsdata{
    display: inline-flex;
}
.THIS .pagetitlemargin{
    border-bottom: 2px solid #dee2e6 !important;
    margin: 0px 10px;
}
.THIS #progressList {
	border: solid 1px rgba(203, 203, 203, 0.43);
    width: 100% !important;
}

.THIS .table-header-cell {
	border: none;
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;
    background-position: center left;
    filter: brightness(57%);
    border: 0px;
}
.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
    background-position: center left;
    border: 0px;
}
.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS table.dataTable thead th, .THIS table.dataTable tbody td {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
}

.THIS table.dataTable thead th {
	font-weight: bold;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.THIS table#progressList tbody td {
	font-weight: normal;
	border-left: none;
	border-right: none;
	padding: 10px 18px;
}
.THIS table#progressList tbody tr {
    background: none;
}
.THIS .dt-more-container{
    text-align:center;
    margin:2em 0;
}
.THIS #linkedContract{
    margin : 0 2px;
    max-width:100%;
}
.THIS #linkedContract h3{
    margin-left: -7px;
    margin-top: 20px;
}