.THIS {
    display: flex;
    height: 100%;
}

.THIS .lifecycleBox_contents {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    max-width: none;
}

.THIS .lifecycleBox_title {
    min-height: 10.4em;
    padding: 2em 1em;
}

.THIS .lifecycleBox_title h1 {
    font: 700 21px Museo;
}

.THIS .lifecycleBox_title p {
    font: 16px Arial;
}

.THIS .lifecycleBox_richText {
    padding: .5em;
}

.THIS .lifecycleBox_richText a {
    font-weight: bold;
    color: #000054;
}

.THIS .RMIT-primary-red .lifecycleBox_title {
    background-color: #e60028;
    color: #fff;
}

.THIS .RMIT-primary-blue .lifecycleBox_title {
    background-color: #000054;
    color: #fff;
}

.THIS .RMIT-secondary-orange .lifecycleBox_title {
    background-color: #fc9147;
    color: #000;
}

.THIS .RMIT-secondary-yellow .lifecycleBox_title {
    background-color: #fac800;
    color: #000;
}

.THIS .RMIT-secondary-lemon .lifecycleBox_title {
    background-color: #eedc00;
    color: #000;
}

.THIS .RMIT-secondary-green .lifecycleBox_title {
    background-color: #aad75f;
    color: #000;
}

.THIS .RMIT-secondary-aqua .lifecycleBox_title {
    background-color: #00dcb4;
    color: #000;
}

.THIS .RMIT-secondary-teal .lifecycleBox_title {
    background-color: #7ae1aa;
    color: #000;
}

.THIS .RMIT-secondary-blue .lifecycleBox_title {
    background-color: #0078ff;
    color: #fff;
}

.THIS .RMIT-secondary-azure .lifecycleBox_title {
    background-color: #00aaff;
    color: #000;
}

.THIS .RMIT-secondary-arctic .lifecycleBox_title {
    background-color: #50d2ff;
    color: #000;
}

.THIS .RMIT-secondary-purple .lifecycleBox_title {
    background-color: #aa0082;
    color: #fff;
}

.THIS .RMIT-secondary-lavender .lifecycleBox_title {
    background-color: #c864c8;
    color: #000;
}

.THIS .RMIT-secondary-pink .lifecycleBox_title {
    background-color: #ff8199;
    color: #000;
}