.THIS .faq_home_title {
    font-family: Museo;
    font-size: 16px;
    font-weight: bold;
    color: #000054;
    padding: 25px 0 0 20px;
}

.THIS .cmsContentLoader {
    margin: 0 20px;
    background-color: transparent;
}

.THIS .cmsContentLoader .contentLoaderItems .ocmsContent_X {
    padding: 0;
}

.THIS .viewAllLink {
    width: 217px;
    height: 40px;
    padding: 8px;
    border-radius: 14px;
    background-color: #000054;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin: 15px;
    border: none;
}

.THIS .viewAllLink:hover {
    background-color: #000043;
    text-decoration: underline;
}