.THIS .btn-view{
    padding: 0 12px;
    background: red;
    border-radius: 50px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: .3px;
    color: #ffffff!important;
    white-space: normal;
    width: 120px;
}
.THIS .grade{
    font-family: Museo;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    float: right;
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 50%;
}

.THIS .siteforceStarterBody{
    border:1px solid red;
}
.THIS .siteforceStarterBody .cCenterPanel{
    padding:0 !important;
}
.THIS .siteforceStarterBody .cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium {
    padding: 0 !important;
}
.THIS .profile21cc{
    background-color: #f2f2f2;     
    width: 100%;
    display: inline-block;
    margin-top:14px;
}
.THIS .profile21cc-item {
    float: left;
    padding: 15px 20px 15px 0;
    
}
.THIS .profile21cc-link{
    font-family: Museo300;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000054;
}
.THIS .prof21cc-active{
    color: #000000;
    font-weight: bold;
    border-bottom: 5px solid #000054;
    padding-bottom: 10px;
}

.THIS .panel-default > .panel-heading {
    position: relative;
}
.THIS .panel-heading .fa {
    position: absolute;
    right: 10px;
    top: 13px;
}
.THIS .profile21cc-myplan>h2,.THIS .profile21cc-myoutcomes>h2{
    font-family: Museo;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000054;
    border-bottom: solid 2px rgba(0, 0, 83, 0.15);
    cursor:pointer;
    padding-left: 10px;
    padding-bottom: 10px;
}
.THIS .profile21cc-productcart{
    /*height: 230px;*/
    background-color: #ffffff;
    padding: 0 15px;
    margin-bottom: 50px;
}
.THIS .profile21cc-courseimg{   
    text-align: center;
    cursor: pointer;
    
}
.THIS .profile21cc-courseimg img{
    height: 160.5px;
}
.THIS .profile21cc-productcart .academic-details {
    background-color: #f0f0f0;
    border-bottom: none;
    height: 120px;
    padding: 20px 14px;
    position:relative;
    height:auto;
    min-height:120px;
}
.THIS .profile21cc-productcart .academic-details h3 {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00004c;
    margin: 0;
    bottom: 15px;
    position: absolute;
    vertical-align: bottom;
}
.THIS .profile21cc-productcart .academic-status,
.THIS .profile21cc-productcart .academic-date {
    font-family: Museo300;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 10px 0;
    border-bottom:none;    
}
.THIS .myoutcome-completed{
    border-bottom: 5px solid #7ed321 !important;
}
/*accrodian css */
.THIS .rmit_accordian .accordion_body{
    display:none !important;
    overflow:initial;
}
.THIS .onclick{
    background-color: yellow;
}
.THIS .rmit_accordian.myplan-content-is-collapsed .accordion_body{
    display:block !important
}

.THIS .rmit_accordian.myplan-content-is-collapsed .fa_plus,.THIS .rmit_accordian .fa_minus{
    display:none;
}
.THIS .rmit_accordian.myplan-content-is-collapsed .fa_minus,.THIS .rmit_accordian .fa_plus{
    display:block;
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-25px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .profile21cc-productcart a:first:focus{
    display: block;
    border: 1px solid blue;
    width: auto;
    text-decoration: underline!important;
    height: 263px;
}
.THIS .cLHC_MyProduct21CC .lhc-title-all{
    font-size: 35px; 
}
.THIS .redirectsection{
    margin-left:-20px;
}
.THIS .redirectsection .container {    
    padding-right: 0;
} 
.THIS .plus_minus {
    float: right;
    font-family: Museo,serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: -10px;
    margin-right: 20px;
}
.THIS .academic-integrity{
    max-width: 278px;
    height: auto;
    font-family: Museo;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #00004c;
}
.THIS .progress-cart{
    border: 2px solid #f0f0f0;
    height: 263px;
    border-radius: 5px;
}
.THIS .accordion_body div{
    overflow:initial;
}
.THIS .badge-inline{
    width:100%;
}
.THIS .badge-header{
    height:auto;
    min-height:120px;
    margin:0;
    padding: 12px;
}
.THIS .badge-list #badge-btn,.THIS .badge-list #badge-btn:hover{
    background: red!important;
    border: none;
    border-radius: 50px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff !important;
    padding: 0;
    height: 26px;
}
.THIS .badge-list{
    margin:0;
}
.THIS .dashboard-datelist{    
    
    margin: 0 auto;
    width: 80%;
    z-index: 999!important;
    padding: 0 25px 20px!important;    
    display:none;
}
.THIS .dashboard-datelist .slds-modal__container{
    top: 25%;
}
.THIS .dashboard-background{
    background: rgba(234, 234, 234, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1.65;
    right: 0;
    bottom: 0;
    z-index: 99;
    display:none;
}
.THIS .courseofferingenroll{
    padding: 0px 12px;    
    background: red;
    border: none;
    border-radius: 50px;
    font-family: Museo;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: .3px;
    text-align: center;
    color: #ffffff!important;
    width:30%;
    display:inline-block;
}
.THIS .closepopup-prod{
    position: absolute;
    top: 6px;
    right: 20px;
    display: block;    
}
.THIS .closepopup-prod:before {
    content: 'x';
    color: #000053;
    font-weight: 300;
    font-family: Arial, sans-serif;
    font-size: 26px;
    cursor: pointer;
}
.THIS .course-status{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #505050;
    margin:0;
}
.THIS .badge-inline .badge-title{
    width:70%;
    float:left;
}
.THIS .badge-inline .badge-inprogress{
    float:left;
}
.THIS .badge-notenroll{
    width:100%;
}

.THIS .cenroll{
    font-size:15px;
}
.THIS .success-enroll{
    display:none;
}
.THIS .coffer-list{
    display:block;
}
.THIS .hideDiv {
    display: none;
}
.THIS .showDiv {
    display: block;
}
.THIS .popup-footer{
    
    background-color: rgb(249, 249, 250);
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px;
    
    padding: 0.75rem 1rem;
}
.THIS .slds-modal__header{
    border: none;
    padding: 0;
}
.THIS .slds-modal__footer{
    border: none;
    background: white;
    text-align:center;
}
.THIS .slds-modal__header .slds-modal__close {   
    top: 5px;
    right: 8px;
    background: no-repeat;
    border: none;
    color:black;
}
.THIS .slds-radio_faux{
    width:20px;
    height:20px;
}
.THIS .cenroll{
    font-family: Museo;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #000054;
    margin-bottom: 20px;
}
.THIS .typeface{
    line-height: normal;
}
.THIS .badge-list .scrollable-dropdown{
    z-index: 99;
    overflow-y: scroll;
    height: 260px;
    border: transparent;
    left: -316px;
    width: 330px;
    top: -182px;
}
.THIS .dropdown.open .caretpop:before{
    bottom: -2px;
    right: 28px;
    border-bottom-color: #ccc;
}
.THIS .dropdown.open .caretpop:after{
    bottom: -2px;
    right: 28px;
    border-bottom-color: #fff;
}
.THIS .progress,.THIS .progress-bar-success,.THIS .progress-bar-warning{
    height:5px;
}
.THIS .progress{
    width:50%;
    margin-bottom:0;
}
.THIS .progress-bar-success{
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}
.THIS .progress-bar-warning{
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
.THIS .percentagecount{
    font-family: Museo;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f5a623;
}
.THIS .progress-coursename{
    padding:0;
    bottom: 15px;
    position: absolute;
    vertical-align: bottom;
    font-weight: 600;
    color:#000053;
}
.THIS .percentagecomplited{
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #959595;
    padding-left:10px;
}
.THIS .badge-total-status{
    line-height:normal;
    float:left;    
}
.THIS .badge-grade-status{
    position: absolute;
    bottom: 25px;
}
.THIS .course-tile{
    border: none;
    height: auto;
    }
.THIS a:focus{
    border:none;
}
.THIS .course-badge-content{
    padding:10px;
}
.THIS ::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.THIS ::-webkit-scrollbar-button {
    background: #ccc
}
.THIS ::-webkit-scrollbar-track-piece {
    background: rgb(0, 0, 84);
}
.THIS::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 84)
}
.THIS .badge-inline .badge-success{
    display: inline-block;
}
.THIS .badge-redirection{
    float: right;
    right: 3px;
    font-size: 20px;
    position: absolute;
}
.THIS .badge-redirection i{
    color: rgba(0, 0, 0, 0.46);
    width: 21px;
    height: 21px;
}
.THIS .badge-redirection:focus{
    height:auto !important;
}
.THIS .badge-header img,.THIS .academic-details img {
    top: 10px;
    position: absolute;
    right: 10px;
    height: 40px;
}
.THIS .viewmore{   
    position: absolute;
    top: 30px;
    right: 0;
    width: 100px;
    text-align: right;
}
.THIS .viewcertificate{    
    position: absolute;
    bottom: 4px;
    right: 43px;    
}
.THIS .viewcertificate a,.THIS .viewmore a{
    vertical-align: middle;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000053;
}
.THIS .viewcertificate span,.THIS .viewmore span{
    margin-right:5px;
}
.THIS .viewcertificate span i,.THIS .viewmore span i{   
    font-size:20px;
    color:red ;
}
.THIS .totaleffeort-text{
    float:left;
    font-size: 14px;
    font-weight: 600;
    color: #000053;
}
.THIS .staustext{
    float:right;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #A36700;
    padding: 0 0 2px 0;
    font-weight: bold;
}
.THIS .badge-content{
    float: left;
    width: 100%;
    padding: 12px 14px;
    min-height: 86px;
}
.THIS .badge-middle{
    padding: 20px 12px 0 6px;
    border-bottom: 2px solid #f0f0f0;
    margin: 0 5px;
    overflow: auto !important;;
}
.THIS .grade-label{
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #000053;
}
.THIS .grade-percentage{
    display: block;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.17;
    letter-spacing: normal;
    color: #505050;
}
.THIS .course-tile a{
        border-radius: 5px;
    border: 2px solid #e3e3e3;
    display: block;
    height: 263px;
}
.THIS .course-tile a:focus,.THIS .course-tile a:hover {
    display: block;
    border: 2px solid blue;
    width: auto;
    
}
.THIS .viewcertificate a{
    height: auto;
    display: inline;
    border: none;
}
.THIS .viewcertificate a:focus,.THIS .viewcertificate a:hover{
    display: inline;
    border: none;
    width: auto;
    height: auto;
}
.THIS .accordion_nav{
    font-family: Museo;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000054;
}
.THIS .dashboard-datelist #modal-content-id-1{
    height: 200px;
    overflow: scroll;
    min-height: 200px;
}
@media (max-width: 991px){
    .THIS .lhc-title-all{
        font-size: 35px; 
        margin: 25px 0;
    } 
    .THIS .redirectsection{
        margin-left:-20px;
    }
    .THIS .profile21cc-productcart{
        padding:0 18px;
        max-width:100%;
    }  
    .THIS .lhc-title-all:before{
        width: 40px;
        height: 3px;
    }
    .THIS .badge-list{
        margin:10px 0;
    }
    .cLHC_MyDashboard .badge-list .scrollable-dropdown { 
        left: -288px;
        width: 300px;
        top: -199px;
    }
}

@media (max-width: 767px){
    .THIS .myplan-content-is-collapsed .col-xs-12{
        padding:0;
    }
    .THIS .profile21cc-productcart{
        padding:0;
        max-width:100%;
    }  
    .THIS .badge-list{
        margin:10px 0;
    }
    .THIS .badge-list .scrollable-dropdown {
        z-index: 99;
        overflow-y: scroll;
        height: 258px;
        border: transparent;
        left: -298px;
        width: 310px;
        top: -198px;
    }
}
/*Ipad landscape*/
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) { 
    .THIS .badge-list .scrollable-dropdown {   
        left: -252px;
        width: 228px;
        top: -189px;
        min-width: 264px;
    }
}
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
    .THIS .badge-list .scrollable-dropdown {   
        left: -252px;
        width: 228px;
        top: -189px;
        min-width: 264px;
    }
}