.THIS {
    max-width: 1208px;
}

.THIS .pageTitle {
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e60028;
    position: relative;
    padding-top: 10px;
}

.THIS .pageTitle:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #d0021b;
}

.THIS .cmsContentLoader {
    background-color: transparent;
}

.THIS .cmsContentLoader .contentLoaderItems {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 15px;
}

.THIS .cmsContentLoader .contentLoaderItems .ocmsContent_X {
    padding: 0;
}