.THIS .create_conceptPjt{
    padding: 20px 20px 20px 0px;
    position: relative;
}
.THIS .create_conceptPjt_text{
    font-family: Museo;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;  
}

.THIS .create_conceptPjt :before{
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #f5a623;
}

.THIS .pjt_details{    
    font-family: Museo;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS label, .THIS .uiInput--default .form-element__label , .THIS legend{
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #000000;
    padding: 25px 0 15px;
}

.THIS input, .THIS textarea, .THIS select{
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: solid 1px #ccced0;
    font-family: Lato;
    font-size: 14px;
}

.THIS .slds-form-element .slds-radio{
    display: inline-block; 
}

.THIS .slds-radio__label{
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #000000;  
    padding: 0 20px 0 0;
}
.THIS input[type="radio"]:checked+label {
    font-weight: bold;
}

.THIS input[type="radio"]:checked, .THIS input[type="checkbox"]:checked {
    background-color: #0e81fc;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.THIS .btn-blue{
    border-radius: 6px;
    background-color: #000054;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0), 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff; 
    padding:8px 20px;
    margin: 12px;    
}

.THIS .btn-blue:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #000054;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0), 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
}

.THIS .slds-input-has-icon .slds-input__icon{
    position: absolute;
    height: 95%;
    top: 8px;
    width: 10%;
    right: 0;
    border-radius: 2px;
    TEXT-ALIGN: CENTER;
    background-color: #eaeaea; 
}

.THIS lightning-primitive-icon{
    width: 15px;
    height: 16px;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}

.THIS .dispNone{
    display: none;
}
.THIS .slds-required, .THIS .required {
    text-decoration: none;
    float: right;
}

.THIS .pjtaccess_text {
    display: none;
    visibility:hidden;
    border-radius: 20px;
    color: #ffffff;
    top: -22px;
    left: 28px;
}

.THIS .pjtacceess:hover .pjtaccess_text , .THIS .pjtacceess a:focus + .pjtaccess_text{
    display: block;
    visibility:visible;
}

.THIS .pjtaccess_text::after {
    content: "";
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: 30px;
    left: -12px;
    z-index: 99;
    transform: rotate(270deg);
}

.THIS .dropdown-item, .THIS .uiInput--select .select:not([multiple]){
    white-space : normal;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.THIS .dropdown-menu{
    min-width: 20rem;
    max-width : 20px;
}

.THIS .pjtAccess_padding{
    padding-top: 10px;
}
.THIS .helpimg{
    color: #353c43;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
}


.THIS .search-icon {
    position: absolute;
    padding-top: 0px;
    right: 10px;
    font-size: 18px;
    color: #000000;
    right: 6px;
    top:23px;
}

.THIS .slds-select_container:before, .THIS .slds-select_container:after{
    display:none;
}
.THIS .checkboxli label {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    width: 90%;
}
.THIS .checkboxli:nth-child(odd) {  
    background-color: #ffffff;    
    padding-left: 10px;
}
.THIS .checkboxli:nth-child(even) {  
    background-color: #eaeaea;   
    padding-left: 10px; 
}

.THIS .selectedList{
    list-style: none;
    display: inline-block;
}

.THIS .selectedList label{
    padding: 0 10px 0;
}
.THIS .selectedList i{
    color: rgba(0, 0, 0, 0.54);
}

.THIS #myDropdown, .THIS #forDropdown{
    height: 145px;
    overflow : auto;
}

.THIS .createPjtContainer{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right:10px;
    margin-right:15px;
}
.THIS legend{
    width: auto;
}
.THIS .slds-has-error .slds-form-element__help {
    color: rgb(194, 57, 52);
    display: none;
}
.THIS .slds-select_container .slds-select {
    padding-right: 0.5rem;
}
/* The container */
.THIS .container {
    display: block;
    position: relative;
    padding-top: 0px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.THIS .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.THIS .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.THIS .container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.THIS .container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.THIS .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.THIS .container input:checked ~ .THIS.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.THIS .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.THIS #confirm{
    background: rgba(216, 216, 216, 0.4);
}
.THIS .confirm-delete-text {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #000000;
}
.THIS .modal-title-addmember {
    font-family: Museo;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}
.THIS .noaccess{
    text-align: center;
    font-family: Arial;
}
.THIS .secondary-title {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #000000;
}
.THIS .summary-content {
    overflow-wrap: break-word;  	 
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 25px;
    text-align: justify;
    word-wrap: break-word;
}
.THIS .rm-project-badge {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    font-size: 10px;
    vertical-align: top;
    height: 16px;
    max-width: 16px;
    margin-top:1px;
    background: #0078ff;
}
.THIS .project-title {
    font-size: 16px;
    font-weight: bold;
    overflow-wrap: break-word;
    text-align: justify;
    word-wrap: break-word;
}
.THIS .label-text {
    padding-right: 0;
    font-family: Museo;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}
.THIS .RMStatus .uiInput--default .form-element__label{
    padding-top: 0px;
}
.THIS #myInput, .THIS #frocodes{
    background-color: rgb(255, 255, 255);
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
    margin-top: 15px;
}

.THIS .testarea textarea{
    height: 200px;
}

.THIS .keywordsBox13579{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: .5px;
    color: #4a4a4a;
    word-wrap: break-word;
    width: 80%;
    padding: 6px;
    margin-top: 20px;
    margin-right: 15px;
}
.THIS .FoRCode {
	border-radius: 4px;
  	background-color: #ececee;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  	padding: 10px 15px;
  	margin-bottom: 10px;
  	margin-right: 10px;
  	
  	font-family: Lato;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #353c43;
}
.THIS #projecttitle{
    background-color: rgb(255, 255, 255);
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
    margin-top: 0px;
}
.THIS .validationcss{
    border :1px solid rgb(194, 57, 52);
}
.THIS .btn-blue:focus, .THIS .btn-blue:hover{
    background-color: #d0021b; 
    border : 1px solid #d0021b; 
}
.THIS .projectAccessValue{
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width:768px){
    .THIS .createPjtContainer{
        border-bottom: solid 3px #f5a623;        
    }
    .THIS .savebutton{
        margin-left: 50px;
    }
    .THIS .slds-form-element .slds-radio{
        display: block;
    }
    .THIS .footerbottom{
        position: fixed;
        bottom: 0;
        width: 100%;
        border: none;
    }
    .THIS .impactCategory{
        margin-bottom: 55px;
    }
}