@font-face {
	font-family: 'HelveticaNeue';
	src: url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(/sfsites/c/resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

.THIS .myResearchPjtContainer{
    height: auto;
    min-height:380px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    position: relative;
}

.THIS .myResearch_title{
    font-family: Museo;
    font-size: 16px;
  	font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
    padding: 25px 0 0 20px;
}
/* .THIS .myResearch_title:before{
    content: '';
    position: absolute;
    top: 15px;
    width: 35px;
    height: 5px;
  	background-color: #f5a623;
} */

.THIS .footer-content {
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;
    padding: 15px 30px 20px 30px;
}

.THIS .pjts_list{
    height : 160px;   
    padding : 8.5px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .4px;
    color: #4a4a4a;
    padding-left: 20px;
}

.THIS .pjts_list_name{
    padding : 8.5px;    
}

.THIS .img-help{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;  
}

.THIS .help{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;  
    padding-left: 5px;
}

.THIS .btn-viewall{
    /* border-radius: 6px;
    background-color: #000054;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0), 0 0.5px 2px 0 rgba(0, 0, 0, 0.2); */
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000054;    
    padding:8px 0px 8px 20px;
    text-decoration: underline;
}

.THIS .projectBtn {
	margin-left: 20px;
	margin-right: 30px;
	padding-top: 15px;
	text-decoration: none;
	display: block;
	height: 45px;
	padding-left: 15px;
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4a90e2;
  	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.THIS .numOfProjects {
	padding-top: 2px;
}
.THIS .truncate {
	max-width: 95%;
	position: absolute;
	top: 30%;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}
.THIS .rp-project-badge {
	background: #f5a623;
	color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 12px;
}

.THIS .rm-project-badge {
	padding-left: 6px;
    padding-right: 6px;
    vertical-align: top;
    height: 18px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.THIS .project-list-legend-text {
	font-family: Arial;
  	font-size: 12px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}

.THIS .my-research-project-list {
	background: #ffffff;
}

.THIS table#myProjectList .table-title-column {
	position: relative;
	width: 60%;
	padding-left: 0;
}

.THIS table.dataTable thead th, .THIS table.dataTable tbody td {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
}

.THIS table.dataTable thead th {
	font-weight: bold;
	border:none;
	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
	padding-top: 20px;
	padding-bottom: 20px;
}

.THIS table#myProjectList tbody td {
	font-weight: normal;
	border: none;
	border-bottom: solid 1px rgba(151, 151, 151, 0.17);
	padding: 10px 18px;
	height: 30px;
	vertical-align: middle;
	
}

.THIS .dashboard-project-legend {
	min-width: 160px;
}

@media only screen and (max-width: 320px) {
	.THIS .btn-viewall {
		padding: 8px 0 8px 15px;
	}
	.THIS .footer-content {
		padding: 15px 20px 20px 20px;
	}
	.THIS .numOfProjects {
		font-size: 14px;
	}
}